@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
        @apply text-white shadow-2xl shadow-red-500 bg-brightRed hover:bg-brightRedLight rounded-full px-6 py-2;
    }
}

body {
    background-image: url('../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
}

#cta {
    background-image: url('../images/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;
}

@media (max-width: 576px) {
    body {
        background-position: 50px -50px;
        background-size: 500px;
    }

    #cta {
        background-image: url('../images/bg-simplify-section-mobile.svg');
    }
}